<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>ACTM final</title>



      <link rel="stylesheet" href="css/style.css">


</head>

<body>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/85/three.min.js"></script>

<div id="harmonizer">
  <div id = "top-part">
  <div class="frame">
  <div id="result">
    <canvas class = "hand_canvas"></canvas>
  </div>
</div>
  <div id="app">
  <envelope-generator
    :width="400"
    :height="200"
    :attack="form.attackTime"
    :decay="form.decayTime"
    :sustain="form.sustainLevel"
    :release="form.releaseTime">
  </envelope-generator>


  <form class="envelope-controller">
    <div>
      <label class = "labels">Attack</label>
      <input type="range" class = "slider" min="0" max="1" step="0.01" v-model.number="form.attackTime">
    </div>
    <div>
      <label class = "labels">Decay</label>
      <input type="range" class = "slider" min="0.001" max="1" step="0.01" v-model.number="form.decayTime">
    </div>
    <div>
      <label class = "labels">Sustain</label>
      <input type="range" class = "slider" min="0" max="1" step="0.01" v-model.number="form.sustainLevel">
    </div>
    <div>
      <label class = "labels">Release</label>
      <input type="range" class = "slider" min="0" max="1" step="0.01" v-model.number="form.releaseTime">
    </div>
  </form>
  </div>
</div>
<div id = "gestures_info">
  <div id = "left_led">
    <led_comp></led_comp>
  </div>
</div>
  <div id="upper_part">
    <div id = "harmonics_menu">
      <div id="dropmenu_left">
  	     <dropdown :text = 'text' :on-click='changeHarmonic' :items='harmonics' ></dropdown>
       </div>
       <div id="dropmenu_right">
   	     <dropdown :text = 'text' :on-click='changeHarmonic' :items='harmonics' ></dropdown>
        </div>
        <div id="dropmenu_up">
    	     <dropdown :text = 'text' :on-click='changeHarmonic' :items='harmonics' ></dropdown>
         </div>
         <div id="dropmenu_down">
     	     <dropdown :text = 'text' :on-click='changeHarmonic' :items='harmonics' ></dropdown>
          </div>
          <div id="dropmenu">
      	     <dropdown :text = 'text' :on-click='changeInstrument' :items='instruments' ></dropdown>
      	     <p class = "selected_instrument">Currently selected instrument: <span>{{activeInstrument}}</span></p>
           </div>
    </div>


<div class="pair_btn" style="position: relative; left: 49.5%; width: 482px; z-index: -1;">
<div class='labels center_text' style="font-size:14px; color: #b7b2ae;">
  Button 1
</div>
<div class='labels center_text' style="font-size:14px; color: #b7b2ae;">
  Harmonics
</div>
<div class='labels center_text' style="font-size:14px; color: #b7b2ae;">
  Button 2
</div>
<div class='labels center_text'style="font-size:14px; color: #b7b2ae;">
  Pitch
</div>
</div>


    <button type="button" id = "bt_button" class="pair_btn labels" style="font-size:16px; color: #b7b2ae;">
      Pair
    </button>

  <div id="vue-btn">
  <switch_comp></switch_comp>
  </div>
  </div>
  <div class = "lower-part">
    <div class = "volumes">
    <div class = "master-volume"><input id = "master_volume" class = "slider" type="range" min="0" max="100" step="1" v-model="m_volume"></input>
  </div>
  <div class = "h1-volume"><input id = "h1_volume" class = "slider" type="range" min="0" max="100" step="1" v-model="h1_volume"></input>
  </div>
<div class = "h2-volume"><input id = "h2_volume" class = "slider" type="range" min="0" max="100" step="1" v-model="h2_volume"></input>
  </div>
</div>
    <canvas id="canvas"></canvas>
</div>

<template id = "btn_switch">
  <div>
    <input v-model = "switch_state" type="checkbox" id="switch" name="switch">
    <label for="switch" class="switch"></label>
  </div>
</template>

<template id = "led_switch">
    <div class = "led-yellow"></div>
</template>

  <template id="adsr">
<!--The HTML <svg> element is a container for SVG graphics...
• https://www.w3schools.com/HTML/html5_svg.asp
• https://www.w3schools.com/graphics/svg_intro.asp
Adding an <svg> element to our app’s template...
-->
  <svg xmlns="http://www.w3.org/2000/svg" class = "fl-studio-envelope__visualizer" baseProfile="full" :width="width" :height="height+6" preserveAspectRatio="xMinYMid slice">

    <!-- "path" è il metodo che ritorna in una stringa che disegna -->
    <path :d="path" stroke="#4eccff" stroke-width="3" fill="#21272b"></path>

    <circle class="origin" cx="7" :cy="height-11" r="6" fill="#284554" stroke="#4eccff" stroke-width="2"></circle>
    <circle class="attack" :cx="array[0]" :cy="array[1]" r="6" fill="#284554" stroke="#4eccff" stroke-width="2"></circle>
    <circle class="decay" :cx="array[2]" :cy="array[3]" r="6" fill="#284554" stroke="#4eccff" stroke-width="2"></circle>
    <circle class="sustain" :cx="array[4]" :cy="array[5]" r="6" fill="#284554" stroke="#4eccff" stroke-width="2"></circle>
    <circle class="release" :cx="array[6]" :cy="array[7]" r="6" fill="#284554" stroke="#4eccff" stroke-width="2"></circle>

  </svg>
</template>
</div>



    <script  src="js/index.js"></script>




</body>

</html>
